/* Estilos generales */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #343a40; /* Fondo oscuro */
    color: #f8f9fa; /* Texto claro */
  }
  
  .navbar {
    background-color: #212529; /* Fondo navbar más oscuro */
    border-bottom: none; /* Sin borde inferior */
  }
  
  .navbar-brand {
    color: #7fffd4; /* Verde menta */
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    text-decoration: none;
    border-bottom: none; /* Asegúrate de que esta línea esté presente y no se sobrescriba */
    align-items: center; /* Alinear elementos verticalmente */
  }
  
  
  .navbar-brand span {
    margin-left: 5px; /* Espacio entre C y B */
    border-bottom: none; 
  }
  
  .navbar-nav {
    display: flex; /* Mostrar elementos en una fila */
    align-items: center; /* Alinear elementos verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
    margin-top: 10px; /* Espacio arriba */
    list-style-type: none;
  }
  
  .navbar-nav .nav-item {
    margin-right: 10px; /* Espacio entre elementos */
  }
  
  .navbar-nav .nav-link {
    color: #fff; /* Blanco */
    font-weight: bold;
    padding: 10px 15px; /* Espaciado interno */
    transition: color 0.3s;
    text-decoration: none; /* Eliminar subrayado */
  }
  
  .navbar-nav .nav-link:hover {
    color: #7fffd4; /* Verde menta al pasar el mouse */
  }
  
  .main {
    background-color: #495057; /* Fondo principal más oscuro */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1); /* Sombra suave */
  }
  
  .info-content {
    text-align: center;
  }
  
  .info-content h1 {
    font-size: 3.5rem;
    color: #fff; /* Color principal del texto */
  }
  
  .info-content p {
    font-size: 1.2rem;
  }
  
  .btn-primary {
    background-color: #7fffd4; /* Verde menta */
    border-color: #7fffd4;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #6dd5c1; /* Verde menta más oscuro al pasar el mouse */
    border-color: #6dd5c1;
  }
  
  .main img {
    max-width: 100%;
    height: auto;
    border: 2px solid #7fffd4; /* Borde verde menta */
    border-radius: 10px;
  }
 /* Estilos para el formulario de contacto */
.contato form {
    text-align: left; /* Alinear el contenido del formulario a la izquierda */
}

.contato label {
    font-weight: bold;
    display: block; /* Cambiar a bloque para que los labels ocupen toda la línea */
}

.contato .form-group {
    margin-bottom: 20px; /* Espacio entre los elementos form-group */
}

.contato .form-control {
    background-color: #343a40; /* Color de fondo más oscuro para los campos de entrada */
    color: #fff; /* Color del texto en los campos de entrada */
    border-color: #7fffd4; /* Color del borde */
}

.contato .form-control:focus {
    background-color: #495057; /* Color de fondo al enfocar los campos de entrada */
}

.contato textarea {
    min-height: 150px; /* Altura mínima para el área de texto */
}

.contato button[type="submit"] {
    background-color: #7fffd4; /* Verde menta */
    border-color: #7fffd4;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 20px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.contato button[type="submit"]:hover {
    background-color: #6dd5c1; /* Verde menta más oscuro al pasar el mouse */
    border-color: #6dd5c1;
}
